[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=unclutter
Comment=Hide mouse automatically when idle.
Exec=unclutter -display :0.0 -idle 5
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

